.header .blog-title {
  margin: 5px 0;
  padding: 20px 0;
  text-align: center;
}
.header .blog-title .logo {
  font-size: 44px;
  letter-spacing: 15;
  font-family: "Microsoft JhengHei";
}
.header .blog-title .logo:hover {
  color: #f75357;
}
.header .blog-title .logo::after {
  content: ".";
  color: #f75357;
  font-size: 44px;
}
.header .navbar {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.header .navbar .menu {
  display: inline-block;
}
.header .navbar .menu .menu-item {
  margin: 0;
  padding: 0;
}
.header .navbar .menu .menu-item .menu-item-li {
  display: inline-block;
  margin-right: 30px;
}
.header .navbar .menu .menu-item .menu-item-li .menu-item-link {
  line-height: 50px;
  font-weight: 600;
  font-size: 16px;
}
.header .navbar .menu .menu-item .menu-item-li .menu-item-link:hover {
  color: #f75357;
}
.header .icon {
  float: right;
  width: 280px;
}
.header .icon .icon-link {
  margin-right: 20px;
  display: inline-block;
  font-weight: 600;
  font-size: 27px;
  line-height: 50px;
  color: #888;
}
.header .icon .icon-link:hover {
  color: #f75357;
}
@media (max-width: 970px) {
  .icon {
    display: none;
  }
}
