.blog-title {
  margin: 0;
  padding-left: 15px;
  text-align: center;
  float: left;
}
@media (max-width: 480px) {
  .blog-title {
    padding: 0;
    line-height: 38px;
  }
}
.logo {
  font-size: 44px;
  letter-spacing: 15;
  font-family: sans-serif;
  background-color: #222;
  color: #fff;
  border: 1px solid #222;
  border-radius: 10px;
}
.logo:hover {
  color: #f75357;
}
@media (max-width: 480px) {
  .logo {
    font-size: 20px;
    margin: 0;
  }
}
.logoa {
  font-size: 44px;
  letter-spacing: 15;
  font-family: "Microsoft JhengHei";
  line-height: 100%;
  display: inline-block;
}
.logoa::after {
  content: ".";
  color: #f75357;
  font-size: 44px;
}
@media (max-width: 480px) {
  .logoa {
    font-size: 16px;
    margin: auto 0;
  }
}
.nav-button {
  float: right;
  width: 40px;
  display: inline-block;
}
.favicon-header {
  border-top: 1px solid #eee;
  padding-top: 18px;
  text-align: center;
  display: none;
}
@media (max-width: 480px) {
  .favicon-header {
    display: block;
  }
}
.nav-bar {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.menu-bar {
  display: inline-block;
}
@media (max-width: 480px) {
  .nav-bar {
    text-align: center;
  }
}
.menu-item {
  margin: 0;
  padding: 0;
}
.menu-item-li {
  display: inline-block;
  padding: 0 15px;
}
@media (max-width: 480px) {
  .menu-item-li:nth-child(4),
  .menu-item-li:nth-child(5) {
    display: none;
  }
}
.menu-item-link {
  line-height: 50px;
  font-weight: 600;
  font-size: 16px;
}
.menu-item-link:hover {
  color: #f75357;
}
@media (max-width: 480px) {
  .menu-item-link {
    line-height: 40px;
  }
}
.icon-bar {
  float: right;
  width: 280px;
  padding-right: 15px;
}
@media (max-width: 480px) {
  .icon-bar {
    display: none;
  }
}
.icon-link {
  float: right;
  margin-left: 20px;
  display: inline-block;
  font-weight: 600;
  font-size: 27px;
  line-height: 50px;
  color: #888;
}
.icon-link:hover {
  color: #f75357;
}
