.header .blog-title {
  margin: 0px 0;
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
}
.header .blog-title .logoa {
  font-size: 44px;
  letter-spacing: 15;
  font-family: "Microsoft JhengHei";
  line-height: 100%;
}
.header .blog-title .logoa::after {
  content: ".";
  color: #f75357;
  font-size: 44px;
}
.header .blog-title .logo {
  font-size: 44px;
  letter-spacing: 15;
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
}
.header .blog-title .logo:hover {
  color: #f75357;
}
.header .navbarr {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.header .navbarr .menu {
  display: inline-block;
}
.header .navbarr .menu .menu-item {
  margin: 0;
  padding: 0;
}
.header .navbarr .menu .menu-item .menu-item-li {
  display: inline-block;
  padding: 0 15px;
}
.header .navbarr .menu .menu-item .menu-item-li .menu-item-link {
  line-height: 50px;
  font-weight: 600;
  font-size: 16px;
}
.header .navbarr .menu .menu-item .menu-item-li .menu-item-link:hover {
  color: #f75357;
}
.header .icon {
  float: right;
  width: 280px;
}
.header .icon .icon-link {
  float: right;
  margin-left: 20px;
  display: inline-block;
  font-weight: 600;
  font-size: 27px;
  line-height: 50px;
  color: #888;
}
.header .icon .icon-link:hover {
  color: #f75357;
}
@media (max-width: 970px) {
  .icon {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .header .blog-title .logoa,
  .header .blog-title .logo {
    font-size: 22px;
    letter-spacing: 10;
  }
  .header .navbar,
  .header .navbar .menu-item {
    text-align: center;
  }
  .header .navbar .menu-item-li {
    margin: 0 auto;
  }
}
.navbar-toggle {
  float: right;
}
