.sidebar {
  float: right;
  width: calc(33% - 40px);
  padding: 30px 0;
  position: relative;
}
@media (max-width: 480px) {
  .sidebar {
    display: none;
  }
}
.logo-img {
  width: 130px;
  border-radius: 85px;
}
.signature {
  font-family: "Microsoft Himalaya";
  font-size: 18px;
  color: #888;
  border-bottom: 1px solid #f1f1f1;
}
.signature-header {
  font-family: "Microsoft Himalaya";
  font-size: 18px;
}
.tagclouda {
  color: #515151;
  padding: 5px 5px;
  text-align: center;
  font-weight: bold;
}
.sidebartag {
  padding: 15px 0;
  border-bottom: 1px solid #f1f1f1;
  color: #fff;
}
.tagcloud {
  padding: 0 5px;
  text-align: center;
  font-family: "Microsoft Himalaya";
  font-size: 18px;
}
.tagcloud-warpper {
  padding: 0 40px;
}
