*,
:after,
:before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  line-height: 1.5;
  font-family: PingFang SC, sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
.clearfix::after,
.container::after {
  display: block;
  content: "";
  clear: both;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.main {
  width: calc(100% - 320px);
  display: inline-block;
}
@media (max-width: 970px) {
  .main {
    width: 100%;
  }
  .container {
    padding: 0 10px;
  }
}
.article-section {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 40px;
}
.article-section .article-link {
  font-size: 30px;
  position: relative;
}
.post-content {
  text-align: left;
}
.post-meta {
  color: #888;
  text-align: center;
}
.calendar {
  display: inline-block;
}
.section-tag {
  margin-left: 50px;
}
.article-tag {
  color: #888;
  margin-left: 5px;
}
.readmore {
  margin-bottom: 15px;
}
.readmore-link {
  padding: 5px 10px;
  font-size: 14px;
  color: #f63338;
  border: 1px solid #f75357;
  border-radius: 20px;
}
.readmore-link:hover {
  color: #fafafa;
  font-weight: bold;
  background-color: #f75357;
  text-decoration: none;
}
.for-test {
  width: 100%;
  line-height: 1.5;
}
.paginator {
  text-align: center;
}
.paginator .page-number {
  margin: 0 7px;
  font-size: 20px;
}
.tagclouda {
  padding: 5px 5px;
  text-align: center;
  font-weight: bold;
}
.tagcloud {
  border-radius: 20px;
  padding: 5px 5px;
  text-align: center;
}
.logo-img {
  width: 130px;
  border-radius: 85px;
}
.favicon {
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
}
.signature {
  font-family: "Microsoft Himalaya";
  font-size: 18px;
  color: #888;
}
.archive-test {
  text-align: center;
  background-color: #ffb6c1;
}
.content {
  text-align: center;
}
.header .blog-title {
  margin: 5px 0;
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
}
.header .blog-title .logoa {
  font-size: 44px;
  letter-spacing: 15;
  font-family: "Microsoft JhengHei";
  line-height: 100%;
}
.header .blog-title .logoa::after {
  content: ".";
  color: #f75357;
  font-size: 44px;
}
.header .blog-title .logo {
  font-size: 44px;
  letter-spacing: 15;
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
}
.header .blog-title .logo:hover {
  color: #f75357;
}
.header .navbar {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.header .navbar .menu {
  display: inline-block;
}
.header .navbar .menu .menu-item {
  margin: 0;
  padding: 0;
}
.header .navbar .menu .menu-item .menu-item-li {
  display: inline-block;
  padding: 0 15px;
}
.header .navbar .menu .menu-item .menu-item-li .menu-item-link {
  line-height: 50px;
  font-weight: 600;
  font-size: 16px;
}
.header .navbar .menu .menu-item .menu-item-li .menu-item-link:hover {
  color: #f75357;
}
.header .icon {
  float: right;
  width: 280px;
}
.header .icon .icon-link {
  float: right;
  margin-left: 20px;
  display: inline-block;
  font-weight: 600;
  font-size: 27px;
  line-height: 50px;
  color: #888;
}
.header .icon .icon-link:hover {
  color: #f75357;
}
@media (max-width: 970px) {
  .icon {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .header .blog-title .logoa,
  .header .blog-title .logo {
    font-size: 22px;
    letter-spacing: 10;
  }
  .header .blog-title {
    padding: 0;
  }
  .header .navbar,
  .header .navbar .menu-item {
    text-align: center;
  }
  .header .navbar .menu-item-li {
    margin: 0 auto;
  }
}
img {
  width: 90%;
  text-align: center;
}
.article-title,
.copyright {
  text-align: center;
}
.article-body {
  text-align: left;
}
.sidebar {
  float: right;
  width: 280px;
  padding: 20px 0;
  position: relative;
}
@media (max-width: 970px) {
  .sidebar {
    display: none;
  }
}
.post-nav {
  width: 100%;
  height: 500px;
  border: 1px solid #ff0;
}
.toc-article {
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 10px;
  margin: 1.5em 0 0.3em 1.5em;
  padding: 1.2em 1em 0 1em;
  max-width: 26%;
  float: left;
}
.toc-title {
  font-size: 120%;
}
#toc {
  line-height: 1em;
  font-size: 0.9em;
  float: right;
}
.toc {
  padding: 0;
  margin: 1em;
  line-height: 1.8em;
}
li {
  list-style-type: none;
}
.toc-child {
  margin-left: 1em;
}
