*,
:after,
:before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  line-height: 1.5;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
.clearfix::after,
.container::after {
  display: block;
  content: "";
  clear: both;
}
.section {
  border-bottom: 1px solid #f1f1f1;
}
.article-title,
.copyright {
  text-align: center;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.main {
  width: calc(100% - 320px);
  display: inline-block;
  border: 1px solid #f00;
}
.article-body img,
.post-content img {
  width: 500px;
}
.header .blog-title {
  margin: 5px 0;
  padding: 20px 0;
}
.header .blog-title .logo {
  font-size: 44px;
  letter-spacing: 15;
}
.header .navbar {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.header .navbar .menu {
  display: inline-block;
}
.header .navbar .menu .menu-item {
  margin: 0;
  padding: 0;
}
.header .navbar .menu .menu-item .menu-item-li {
  display: inline-block;
  margin-right: 30px;
}
.header .navbar .menu .menu-item .menu-item-li .menu-item-link {
  line-height: 50px;
  font-weight: 600;
  font-size: 16px;
}
.header .icon {
  float: right;
  width: 280px;
}
.header .icon .icon-link {
  margin-right: 20px;
  display: inline-block;
  font-weight: 600;
  font-size: 27px;
  line-height: 50px;
  color: #555;
}
.sidebar {
  float: right;
  width: 280px;
  padding: 20px 0;
  height: 1000px;
  position: relative;
  border: 1px solid #f00;
}
