*,
:after,
:before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  line-height: 1.5;
  font-family: PingFang SC, sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
.clearfix::after,
.container::after {
  display: block;
  content: "";
  clear: both;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.main {
  width: calc(100% - 320px);
  display: inline-block;
}
@media (max-width: 970px) {
  .main {
    width: 100%;
  }
  .container {
    padding: 0 10px;
  }
}
.article-section {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 30px;
}
.article-section .article-link {
  font-size: 30px;
  position: relative;
}
.post-meta {
  color: #888;
  position: absolute;
}
.calendar {
  position: absolute;
  display: inline-block;
}
.section-tag {
  float: left;
  margin-left: 150px;
}
.article-tag {
  color: #888;
  margin-left: 5px;
}
.readmore {
  margin-bottom: 5px;
}
.readmore-link {
  padding: 5px 10px;
  font-size: 14px;
  color: #f63338;
  border: 1px solid #f75357;
  border-radius: 20px;
}
.readmore-link:hover {
  color: #fafafa;
  font-weight: bold;
  background-color: #f75357;
  text-decoration: none;
}
.paginator {
  text-align: center;
}
.paginator .page-number {
  margin: 0 7px;
  font-size: 20px;
}
.tagclouda {
  padding: 5px 5px;
  text-align: center;
  font-weight: bold;
}
.tagcloud {
  border-radius: 20px;
  padding: 5px 5px;
  text-align: center;
}
.logo-img {
  width: 150px;
  border-radius: 75px;
}
.favicon {
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
}
.signature {
  font-family: "Microsoft Himalaya";
  font-size: 18px;
}
.header .blog-title {
  margin: 5px 0;
  padding: 20px 0;
  text-align: center;
}
.header .blog-title .logo {
  font-size: 44px;
  letter-spacing: 15;
  font-family: "Microsoft JhengHei";
}
.header .blog-title .logo:hover {
  color: #f75357;
}
.header .blog-title .logo::after {
  content: ".";
  color: #f75357;
  font-size: 44px;
}
.header .navbar {
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.header .navbar .menu {
  display: inline-block;
}
.header .navbar .menu .menu-item {
  margin: 0;
  padding: 0;
}
.header .navbar .menu .menu-item .menu-item-li {
  display: inline-block;
  margin-right: 30px;
}
.header .navbar .menu .menu-item .menu-item-li .menu-item-link {
  line-height: 50px;
  font-weight: 600;
  font-size: 16px;
}
.header .navbar .menu .menu-item .menu-item-li .menu-item-link:hover {
  color: #f75357;
}
.header .icon {
  float: right;
  width: 280px;
}
.header .icon .icon-link {
  margin-right: 20px;
  display: inline-block;
  font-weight: 600;
  font-size: 27px;
  line-height: 50px;
  color: #888;
}
.header .icon .icon-link:hover {
  color: #f75357;
}
@media (max-width: 970px) {
  .icon {
    display: none;
  }
}
img {
  width: 300px;
  text-align: center;
}
.article-title,
.copyright {
  text-align: center;
}
.sidebar {
  float: right;
  width: 280px;
  padding: 20px 0;
  position: relative;
}
@media (max-width: 970px) {
  .sidebar {
    display: none;
  }
}
